extends layout

block content

    .gamediv(style="float:left")
        h1= title
        //- div#board
        canvas#display
        br
        .codediv
            p Code:
            textarea#input(rows="6", cols="30", style='width:350px;')
            
    .chatdiv(style="float:left; margin:10px; ")
        br
        p Chat:
        textarea#chat(rows="6", cols="30", style='width:350px;')
        br
        input#chatinput(style='width:350px;')
    div#result
