doctype 5
html(lang="en")
  head
    title Snake!
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/jquery-2.0.0.min.js")
    script(type="text/javascript", src="/javascripts/paper.js")
    script(type="text/javascript", src="/javascripts/drawBoard.js")
    script(type="text/javascript", src="/javascripts/linkedlist.js")
    script(type="text/javascript", src="/javascripts/player.js")
    script(type="text/javascript", src="/javascripts/gamestate.js")
    
    
    //script(type="text/javascript", src="/javascripts/snake.js")
    
    script(type="text/javascript", src="/javascripts/client.js")
    
  body
    block content