#display {
    border: solid black 1px;
    width: 800px;
    height: 600px;
}

body {
  padding: 50px;
  font: 14px "Consolas", Helvetica, Arial, sans-serif;
}

/*a {
  color: #00B7FF;
}
*/
/*#board {
    border: solid black 1px;
}*/
